{% extends "home/foundation.html" %}

{% block content %}
    <div class="d-flex justify-content-between">
        <h1>VIEW PROFILE PAGE</h1>
        <h3><a href="{% url 'edit-profile' %}">Edit Profile</a></h3>
    </div>

    <div class="container">
        <div style="display: flex">
            <!--Keep these 2 tags on same line-->
            <h3>Hello,<h3 style="color:red">{{ user.username }}</h3></h3>
        </div>
        <p>Email: {{ user.email }}</p>
    </div>



{% endblock content %}
